:root {
  --gap: 24px;
  --content-gap: 20px;
  --nav-width: 1024px;
  --main-width: 720px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;
  --theme: #efe4d2; /* Additional color */
  --entry: #efe4d2; /* Additional color */
  --primary: #131d4f; /* Primary color */
  --secondary: #254d70; /* Additional color */
  --tertiary: #954c2e; /* Additional color */
  --content: #131d4f; /* Primary color */
  --code-block-bg: #efe4d2;
  --code-bg: #efe4d2;
  --border: #131d4f;
}

.dark {
  --theme: #131d4f;
  --entry: #254d70;
  --primary: #efe4d2;
  --secondary: #954c2e;
  --tertiary: #efe4d2;
  --content: #efe4d2;
  --code-block-bg: #254d70;
  --code-bg: #254d70;
  --border: #efe4d2;
}

.list {
  background: var(--code-bg);
}

.dark.list {
  background: var(--theme);
}
