:root {
    --primary: #131D4F;
    --secondary: #EFE4D2;
    --tertiary: #254D70;
    --quaternary: #954C2E;
}

body {
    background-color: var(--secondary);
    color: var(--primary);
}

a {
    color: var(--tertiary);
}

a:hover {
    color: var(--quaternary);
}
